<h1>All Services</h1>

<% @services.each do |service| %>

<p>Name: <%= link_to service.name, service_path(service) %> (price: <%= service.price %>)</p>
<p>Description: <%=service.description %></p>

<% end %>
