<h1>Welcome to Snet-Web-Simulation!</h1>

<%= link_to "Sign Up", signup_path %>
OR
<%= link_to "Log In", login_path %>
OR
<% if session[:user_id] %>
  <%= "You are already signed in" %>
<% else %>
  <%= link_to "Sign in with Github", "/auth/github" %>
<% end %>
