<h1>Welcome to Snet-Web-Simulation!</h1>

<%= link_to "Sign Up", signup_path %>
OR
<%= link_to "Log In", login_path %>

<% if session[:user_id] %>
<%= already_signed_in %>
<% else %>
OR
  <%= link_to "Sign in with Github", "/auth/github" %>
<% end %>
